# OpenOCD config for N32G452 via NS-Link (CMSIS-DAP)
source [find interface/cmsis-dap.cfg]
transport select swd
adapter speed 4000

set CHIPNAME n32g452
set WORKAREASIZE 0x8000

source [find target/swj-dp.tcl]

swj_newdap $CHIPNAME cpu -irlen 4 -expected-id 0x2ba01477
dap create $CHIPNAME.dap -chain-position $CHIPNAME.cpu

target create $CHIPNAME.cpu cortex_m -dap $CHIPNAME.dap
$CHIPNAME.cpu configure -work-area-phys 0x20000000 -work-area-size $WORKAREASIZE -work-area-backup 0

flash bank $CHIPNAME.flash stm32f4x 0x08000000 0 0 0 $CHIPNAME.cpu

reset_config srst_only
